{% set active_page = 'account' %}

{% extends "layout/main.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Account</div>

            {{ form_start() }}

            <div class="panel-body">

                {{ form_text({ 'placeholder': 'Email' }) }}

                {{ form_password({ 'placeholder': 'Password' }) }}

                {{ form_text({ 'placeholder': 'Nane' }) }}

            </div>

            <div class="panel-footer text-right">
                {{ form_submit([]) }}
            </div>

            {{ form_end() }}

        </div>
    </div>
</div>

{% endblock %}